<!--Header Partial file
Author's name: kyle Duffy
web site name: Kyle Duffy's Portfolio
file description: This file is the partial EJS file that can be required by other pages to use as the header. -->

<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <!--  import my custom css before bootstrap  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    custom stylesheet-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />


  </head>
  <body>
  <!--   This is the main navbar at the top of the page -->
  <nav class="navbar navbar-inverse navbar-fixed-top" >
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/services">services</a></li>
    </ul>


  </nav>