<!--recaptcha Partial file
Author's name: kyle Duffy
web site name: Kyle Duffy's Portfolio
file description: This file is the partial EJS file that can be required by other pages to include a recaptcha box. -->

<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Template</h1>
    <p></p>
  </body>
</html>
